h1 {
    color: blue;
}

.drop-shadow{
    box-shadow: 1px 0px 7px 5px #888888;
    padding: 10px 10px 10px 10px;
    z-index:999;
}

.hemisphereImg{
    padding: 5px 5px 5px 5px; 
    width: 400px;
    resize: vertical;
    overflow: auto;
    
}

.gridPadding{
    padding: 10px 10px 10px 10px;
    text-align: center;
    align-content: center;
}

.hemBorder{
    box-shadow: 1px 0px 7px 5px #888888;
}

